<h1>Add New Entry for <%= @place.name %></h1>

<%= form_with model: [@place, @entry] do |form| %>
  <%= form.hidden_field :place_id, value: @place.id %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :occurred_on, "Date" %><br>
    <%= form.date_field :occurred_on %>
  </p>

  <br>
  <%= form.submit "Create Entry" %>
<% end %>

<%= link_to "Back to #{@place.name}", place_path(@place) %>
