<h1>Record a New Place</h1>

<%= form_with model: @place do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <br>
  <%= form.submit "Create Place" %>
<% end %>

<%= link_to "Back to All Places", places_path %>

