<h1><%= @place.name %></h1>

<% entries = @place.entries %>

<% if entries.any? %>
  <ul>
    <% for entry in entries %>
      <li>
        <strong><%= entry.title %></strong><br>
        <%= entry.occurred_on %><br>
        <em><%= entry.description %></em><br>
    <br>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No entries yet for this place.</p>
<% end %>

<%= link_to "Add a New Entry", new_place_entry_path(@place) %><br>
<br>
<%= link_to "Back to All Places", places_path %>


